body {
    font-family: 'Rubik', 'sans-serfi';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app h1 {
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

.balance-container #balance {
    font-size: 1.5em;
}

.cashflow-container {
    display: flex;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.income-container{
    border-right: 1px solid #cccccc;
    padding-right: 20px;
}

.expense-container {
    padding-left: 20px;
}

#income, #expense {
    font-size: 1.3em;
}

#income {
    color: var(--income);
}

#expense {
    color: var(--expense);
}

#transaction {
    list-style: none;
    margin: 0;
    padding: 0;
}

#transaction li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

#transaction li .income-ant {
    display: inline-block;
    background-color: var(--income);
    color: white;
    padding: 5px;
    

}